/linux_source
/empty_includes/
/empty_includes_arch/
/aclocal.m4
/ar-lib
/autom4te.cache/
/build
/config.*
/configure
/compile
/depcomp
/install-sh
/Makefile
/Makefile.in
/missing
/stamp-h*
.deps/
.dirstamp
*.o
*~
